<h1>Thanks for your Enquiry</h1>

<p>You have entered the following information</p>

<p>
    <dt>Name</dt>
    <dd><%= @enquiry.name %></dd>        
</p>
<p>
    <dt>Email</dt>
    <dd><%= @enquiry.email %></dd>        
</p>
<p>
    <dt>Phone</dt>
    <dd><%= @enquiry.phone %></dd>        
</p>
<p>
    <dt>Message</dt>
    <dd><%= @enquiry.message %></dd>        
</p>
